{% set wrapper_class = "thematic-page" %}
{% extends "base.twig" %}

{% block content %}
    <div class="sub-header">
        <div class="intro-img">
            <img src="{{ post.thumbnail.src }}" alt="{{ post.title }}">
        </div>
        <div class="intro">
            <h1 class="intro-h1">{{post.title}}</h1>
            {{post.content}}
        </div>
    </div>

    <div class="articles">
        <h1>Nos articles</h1>
        <h2>Nos derniers articles</h2>

        <div class="articles-wrapper">
            {{ post.slug }}

            {% for article in articles %}
                if
                <div class="article">
                    <div class="post-thumnail">
                        <img src="{{ article.thumbnail.src }}" alt="{{ article.title }}">
                    </div>
                    <div class="content">
                        <a href="{{ article.link }}" class="post-title">{{ article.title }}</a>

                        <p class="date">{{ article.date }}</p>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}
