<nav class="top-navbar">
    <img class="header-logo" src="{{ site.link }}/wp-content/uploads/2018/11/logo.png" alt="Ecologia">
    <div class="nav-links">
        <p class="nav-link"><a class="nav-link" href="{{ site.link }}">Accueil</a></p>
        <p class="nav-link"><a class="nav-link" href="{{ site.link }}/subjects">Sujets</a></p>
        <p class="nav-link"><a class="nav-link" href="{{ site.link }}/testimonials">Témoignages</a></p>
        <p class="nav-link"><a class="nav-link" href="{{ site.link }}/about">À propos</a></p>
        <p class="nav-link"><a class="nav-link" href="{{ site.link }}/contact">Contact</a></p>
    </div>
    <a href="{{ site.link }}/testimonials" class="cta-button cta-testify">
        <div class="cta-testify">Témoigner</div>
    </a>
</nav>
